// @import '../styles/index.scss';
// @import '../components/atoms/demo/index.scss';
// // @import '../components/molecules/*/index.scss';
// // @import '../components/organisms/*/index.scss';
// // @import '../components/templates/*/index.scss';
// @import '../components/templates/*/index.scss';

body {
    margin:0;
    padding:0;
    line-height:1;
    list-style-type: none;
    position:relative;
}